.flex-big-container{
    width: 80%;
    margin-left: 21%;
    display: -ms-flexbox;
    display: flex;
    flex: 1 1 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color: white;
}
.flex-big-container > div {
    /* width: 49%; */
    flex-basis: 93%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .big-card-image {
    width: 30vmax;
    -o-object-fit: cover;
    object-fit: cover;
}.header-nav-region{
    width: 100%;
    border-bottom: 1.5px solid #ccc;
    font-size: 1.4vmax;
}
.header-bigcard-button{
    width: 6vmax;
    background: #C82B1D;
    border: none;
    border-radius: 20px;
    height: 2vmax;
    margin-left: 2vmax;
    outline: none;
    font-weight: bold;
    color: #fff;
    
}
.header-bigcard-button:hover{
    background:#67140d;
}
.month{
    margin-left: 32%;
}
.flex-main-first{
    display: flex;
    flex:1 1 100%;
}
.flex-main-first-item1{
    flex-basis:50%;
    border:1px solid #ccc;
    margin:1px;
}